/**
 * =============================================================================
 * Tickets
 * =============================================================================
 */

.Tickets {
    position:relative;
    background:url(/static/images/bg_tickets_image.jpg);
    background-size:cover;
    background-position:50% 50%;
    margin-top:-130px;
    padding:10em 1rem 76px;
    text-align:center;
    color:#fff;

    &:after {
        content:'';
        position:absolute; bottom:-1px; left:50%;
        transform:translateX(-50%);
        width:164px; height:76px;
        background:url('/static/images/icons/pixels_middle.png');
        background-size:cover;
    }

    &-title {
        font-size:2em;
    }

    &-cta {
        display:inline-block;
        border:1px solid #fff;
        margin:35px auto 50px;
        padding:0 1em;
        border-radius:40px;
        font-size:2.3em; line-height:70px;
        text-align:center; text-decoration:none;
        color:#fff;
        transition:all 0.07s ease-in-out;
        transition-property:background, color;

        &:hover {
            color:$color-alpha;
            background:#fff;
            text-decoration:none;
        }
    }

    &-sponsorLink {
        margin-bottom:2em;

        a {
            color:#fff;
        }
    }

    @media screen and (min-width:$bp-alpha) {
        margin-top:-80px;
    }
}
