/**
 * =============================================================================
 * Footer
 * =============================================================================
 */

.Footer {
    padding:2em 1rem 0;
    background:$color-alpha;

    &-copyright {
        padding:1em 0;
        color:$color-gamma;
        text-align:center;
    }
}

/**
 * =============================================================================
 * Quick social
 * =============================================================================
 */

.QuickSocial {
    text-align: center;

    > li {
        display:inline-block;
    }

    a {
        display:inline-block;
        margin:0 0.5em;

        .Icon {
            fill:$color-gamma;
        }

        &:hover {

            .Icon {
                fill:#fff;
            }
        }
    }
}
