/**
 * =============================================================================
 * Globals
 * =============================================================================
 */

html {
    line-height:1.5;
}

html, select, button,
input, textarea {
    font-size:100%; font-family:Lato, sans-serif;
    color:#333;
}

abbr[title] {
    border-bottom:0;
}
