/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    border: 20px solid white;
    margin: 0;
}

.wide-wrap {
    max-width: 1180px;
    margin: 0 auto;
}

.narrow-wrap {
    max-width: 780px;
    margin: 0 auto;
}

.header {
    padding-bottom: 150px;
    background: url(/images/header_image.jpg);
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    position: relative;
    h1 {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 180px;
        height: 180px;
        margin: 0 0 20px;
        position: relative;
        img {
            width: 180px;
            height: 180px;
            top: 0;
            left: 0;
            position: absolute;
        }
    }

    .pixel-elements {
        position: relative;
        top: 46px;
        max-width: 990px;
        overflow: hidden;
        margin: 0 auto -105px;
        img {
            height: 105px;
        }
        .left-pixels {
            float: left;

        }
        .right-pixels {
            float: right;
        }
    }
}

.punchline-date-location-wrap {
    text-align: center;
    .punchline {
        font-size: 42px;
        line-height: 1;
    }

    hr {
        width: 180px;
        margin: 25px auto;
        border: none;
        border-top: 1px solid white;
    }

    .date-location {
        font-size: 50px;
        small {
            font-size: 22px;
            display: block;
        }
    }
}

.blog-post-wrap {
    position: relative;
    font-size: 16px;
    margin-top: -80px;
    h2 {
        color: #F16C5B;
        font-size: 24px;
        height: 50px;
        line-height: 50px;
        margin: 0 0 25px 0;
    }
    .bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 80px;
        background: #342134;
    }
    .narrow-wrap {
        background: #342134;
        position: relative;
        padding: 25px;
        color: #ddd;
    }
}

.buy-tickets-wrap {
    background: url(/images/bg_tickets_image.jpg);
    background-size: cover;
    background-position: 50% 50%;
    margin-top: -80px;
    padding: 150px 0 0;
    text-align: center;
    color: white;
    h3 {
        margin: 0;
        font-size: 30px;
    }
    .buy-tickets {
        display: block;
        border: 1px solid white;
        height: 75px;
        width: 325px;
        text-align: center;
        line-height: 75px;
        color: white;
        margin: 35px auto 50px;
        text-decoration: none;
        font-size: 36px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        &:hover {
            background: white;
            color: #070011;
        }
    }
    .middle-pixels {
        width: 164px;
        margin: 0 auto -1px;;
        display: block;
    }
}

.newsletter-wrap {
    background: #f4f4f4;
    padding: 125px;
    .form-wrap {
        height: 70px;
        .email {
            border: 1px solid #342134;
            border-right: none;
            width: 70%;
            display: block;
            float: left;
            height: 70px;
            padding: 0 15px;
            font-size: 24px;
            background: #f4f4f4;
        }
        .button {
            width: 30%;
            background: #342134;
            float: right;
            height: 70px;
            color: white;
            font-size: 24px;
            border: none;
            cursor: pointer;
            &:hover {
                background: #F16C5B;
            }
        }
    }
}
.footer {
    background: #342134;
    padding: 55px 0 0;
    .copyright {
        color: #F16C5B;
        height: 55px;
        line-height: 55px;
        text-align: center;
    }
    .social-icons {
        text-align: center;
        a {
            display: inline-block;
            margin: 0 5px;
            .icon {
                fill: #F16C5B;
            }
            &:hover {
                .icon {
                    fill: white;
                }
            }
        }
    }
}
