/**
 * =============================================================================
 * Footer
 * =============================================================================
 */

.Footer {
    padding:2em 1rem 1em;
    background:$color-alpha;

    &-copyright {
        padding-top:1em;
        color:$color-gamma;
        text-align:center;
    }
}

/**
 * =============================================================================
 * Quick social
 * =============================================================================
 */

.QuickSocial {
    text-align: center;

    > li {
        display:inline-block;
    }

    a {
        display:inline-block;
        margin:0 0.5em;

        &:hover {

            .Icon {

                &--facebook {
                    @include Icon--social__Icon--facebook__white;
                }

                &--twitter {
                    @include Icon--social__Icon--twitter__white;
                }

                &--github {
                    @include Icon--social__Icon--github__white;
                }
            }
        }
    }
}
