@charset "UTF-8";
/**
 * =============================================================================
 * Colors
 * =============================================================================
 */
/* Deep purple :P; */
/* Gray */
/* Pink */
/**
 * =============================================================================
 * Breakpoints
 * =============================================================================
 */
/**
 * Global styling reset, use with and after Normalize and with caution!
 * Goes best with screen display.
 */
/**
 * Reset styling for all elements.
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
button, textarea, select,
article, aside, figure, footer, header, main,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/**
 * Differentiate styling for input elements.
 *
 * We won’t reset any border for input elements since default styling is very
 * sensitive to OS-specific settings.
 *
 * Be sure to change it for your project-specific styles!
 */
input {
  margin: 0;
  padding: 0;
}

/**
 * Reset leading for `html`.
 */
html {
  line-height: 1;
}

/**
 * Remove styling for lists.
 */
ol, ul, li {
  list-style: none;
}

/**
 * =============================================================================
 * Globals
 * =============================================================================
 */
html {
  line-height: 1.5;
}

html, select, button,
input, textarea {
  font-size: 100%;
  font-family: Lato, sans-serif;
  color: #333;
}

abbr[title] {
  border-bottom: 0;
}

@media screen and (min-width: 400px) {
  body {
    border: 10px solid #fff;
  }
}
@media screen and (min-width: 650px) {
  body {
    border-width: 20px;
  }
}

a {
  display: inline-block;
  color: #f16c5b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/**
 * =============================================================================
 * Layout
 * =============================================================================
 */
.Wrapper {
  margin: 0 auto;
}
.Wrapper--wide {
  max-width: 1180px;
}
.Wrapper--narrow {
  max-width: 780px;
}

/**
 * =============================================================================
 * Passage
 * =============================================================================
 */
.Passage .left {
  float: left;
  margin: 0 1em 1em 0;
}
.Passage .right {
  float: right;
  margin: 0 0 1em 1em;
}
.Passage img {
  vertical-align: baseline;
}
.Passage p, .Passage ul, .Passage ol, .Passage h1, .Passage h2, .Passage h3, .Passage h4 {
  margin: 1em 0;
}
.Passage p:first-child, .Passage ul:first-child, .Passage ol:first-child, .Passage h1:first-child, .Passage h2:first-child, .Passage h3:first-child, .Passage h4:first-child {
  margin-top: 0;
}
.Passage p:last-child, .Passage ul:last-child, .Passage ol:last-child, .Passage h1:last-child, .Passage h2:last-child, .Passage h3:last-child, .Passage h4:last-child {
  margin-bottom: 0;
}
.Passage ul, .Passage ol {
  padding-left: 2em;
}
.Passage ul {
  list-style-type: disc;
}
.Passage ol {
  list-style-type: decimal;
}
.Passage li {
  list-style-type: inherit;
}

/**
 * =============================================================================
 * Form
 * =============================================================================
 */
.Form-legend {
  display: block;
  width: 100%;
  font-size: 2.5em;
  font-weight: 700;
  border-bottom: 4px solid #352134;
  color: #352134;
}
.Form-legend:before {
  content: '\003e';
}
.Form-item {
  margin-bottom: 1em;
}
.Form-label {
  margin-bottom: 0.2em;
  font-size: 1.4em;
  color: #352134;
}
.Form-requiredFlag {
  font-weight: 700;
  color: #f16c5b;
}
.Form-fieldDesc {
  margin-bottom: 0.7em;
  font-size: 0.9em;
  font-style: italic;
  color: #9b9b9b;
}

/**
 * =============================================================================
 * Field
 * =============================================================================
 */
/**
 * Text
 * -----------------------------------------------------------------------------
 */
.Field--text {
  padding: 0.8em;
  font-size: 1.1em;
  border: 1px solid #352134;
  background: #fff;
  transition: border-color 0.07s ease-in-out;
  display: block;
  width: 100%;
  outline: 0;
}
.Field--text:focus {
  border-color: #f16c5b;
}

/**
 * Checkbox/radio
 * -----------------------------------------------------------------------------
 */
.Form-label--asField {
  font-size: 1em;
  margin-bottom: 0;
}
.Form-label--asField .Field {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
.Form-label--asField .Field:checked + .Form-labelCaption {
  color: #fff;
  background: #352134;
}
.Form-label--asField .Form-labelCaption {
  padding: 0.8em;
  font-size: 1.1em;
  border: 1px solid #352134;
  background: #fff;
  transition: border-color 0.07s ease-in-out;
  text-align: center;
  transition: background 0.07s ease-in-out;
}
.Form-label--asField .Form-labelCaption:focus {
  border-color: #f16c5b;
}

/**
 * Select
 * -----------------------------------------------------------------------------
 */
.Field--select {
  padding: 0.8em;
  font-size: 1.1em;
  border: 1px solid #352134;
  background: #fff;
  transition: border-color 0.07s ease-in-out;
  display: block;
  width: 100%;
  outline: 0;
  border-radius: 0;
  text-align: center;
  -webkit-appearance: none;
}
.Field--select:focus {
  border-color: #f16c5b;
}

.Select {
  display: block;
  position: relative;
}
.Select:after {
  font-size: 1.1em;
  content: '';
  position: absolute;
  right: 0.8em;
  top: 50%;
  transform: translateY(-50%);
}

/**
 * Vanity field
 * -----------------------------------------------------------------------------
 */
.VanityField {
  position: relative;
}
.VanityField:before, .VanityField:after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  text-align: center;
  pointer-events: none;
}
.VanityField:before {
  content: '';
  background: #352134;
}
.VanityField:after {
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
}
.VanityField .Field {
  padding-left: calc(50px + 0.8em);
}
.VanityField--twitter:after {
  content: '@';
}

/**
 * =============================================================================
 * Field collection
 * =============================================================================
 */
.FieldCollection {
  overflow: hidden;
  margin-top: -0.4em;
  margin-bottom: -0.4em;
}
.FieldCollection-item {
  float: left;
  width: 50%;
  padding: 0.4em 0.7em;
}
.FieldCollection-item:nth-child(2n+1) {
  padding-left: 0;
}
.FieldCollection-item:nth-child(2n+2) {
  padding-right: 0;
}
.FieldCollection .Form-label,
.FieldCollection .Form-labelCaption {
  display: block;
}

/**
 * =============================================================================
 * Form actions
 * =============================================================================
 */
.Form-action {
  padding: 0.25em;
  border: 1px solid #352134;
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
  background: #352134;
  outline: 0;
  transition: background 0.07s ease-in-out;
}
.Form-action:hover {
  background: #f16c5b;
}

/**
 * =============================================================================
 * Header
 * =============================================================================
 */
.Header {
  padding-bottom: 100px;
  color: #fff;
  background: url(/static/images/header_image.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.Header-logo {
  width: 130px;
  height: 130px;
}
@media screen and (min-width: 650px) {
  .Header-logo {
    width: 160px;
    height: 160px;
  }
}
@media screen and (min-width: 800px) {
  .Header-logo {
    width: 180px;
    height: 180px;
  }
}
@media screen and (min-width: 400px) {
  .Header {
    padding-bottom: 150px;
  }
}

/**
 * =============================================================================
 * Punchline
 * =============================================================================
 */
.Punchline {
  margin-top: 2em;
  padding: 0 1rem;
  font-size: 0.6em;
  text-align: center;
}
.Punchline-what {
  position: relative;
  font-size: 3em;
  line-height: 1.1;
}
.Punchline-what:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 1px;
  margin-top: 0.5em;
  background: #fff;
}
.Punchline-whenWhere {
  margin-top: 2.3em;
  line-height: 1.2;
}
.Punchline-date {
  white-space: nowrap;
  font-size: 2.8em;
}
@media screen and (min-width: 400px) {
  .Punchline-date {
    font-size: 3.3em;
  }
}
.Punchline-location {
  margin-top: 0.7em;
  font-size: 1.5em;
}
@media screen and (min-width: 400px) {
  .Punchline-location {
    margin-top: 0;
  }
}
@media screen and (min-width: 400px) {
  .Punchline {
    margin-top: 4em;
  }
}
@media screen and (min-width: 650px) {
  .Punchline {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 800px) {
  .Punchline {
    font-size: 1em;
  }
}

/**
 * =============================================================================
 * Footer
 * =============================================================================
 */
.Footer {
  padding: 2em 1rem 0;
  background: #352134;
}
.Footer-copyright {
  padding: 1em 0;
  color: #f16c5b;
  text-align: center;
}

/**
 * =============================================================================
 * Quick social
 * =============================================================================
 */
.QuickSocial {
  text-align: center;
}
.QuickSocial > li {
  display: inline-block;
}
.QuickSocial a {
  display: inline-block;
  margin: 0 0.5em;
}
.QuickSocial a .Icon {
  fill: #f16c5b;
}
.QuickSocial a:hover .Icon {
  fill: #fff;
}

/**
 * =============================================================================
 * Newsletter
 * =============================================================================
 */
.Newsletter {
  background: #f4f4f4;
  padding: 1.2em 1rem;
  font-size: 1.4em;
}
.Newsletter-action {
  display: block;
  width: 100%;
  padding: 0.8em;
  border-left-width: 0;
  font-size: 1.1em;
  line-height: normal;
}
@media screen and (min-width: 580px) {
  .Newsletter {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .Newsletter-grid {
    overflow: hidden;
  }
  .Newsletter-gridItem {
    position: relative;
    float: left;
  }
  .Newsletter-gridItem:first-child {
    width: 70%;
  }
  .Newsletter-gridItem:last-child {
    width: 30%;
  }
}
@media screen and (min-width: 650px) {
  .Newsletter {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}
@media screen and (min-width: 1000px) {
  .Newsletter {
    padding-top: 8em;
    padding-bottom: 8em;
  }
}

/**
 * =============================================================================
 * Tickets
 * =============================================================================
 */
.Tickets {
  position: relative;
  background: url(/static/images/bg_tickets_image.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin-top: -130px;
  padding: 10em 1rem 76px;
  text-align: center;
  color: #fff;
}
.Tickets:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 164px;
  height: 76px;
  background: url("/static/images/icons/pixels_middle.png");
  background-size: cover;
}
.Tickets-title {
  font-size: 2em;
}
.Tickets-cta {
  display: inline-block;
  border: 1px solid #fff;
  margin: 35px auto 50px;
  padding: 0 1em;
  border-radius: 40px;
  font-size: 2.3em;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: all 0.07s ease-in-out;
  transition-property: background, color;
}
.Tickets-cta:hover {
  color: #352134;
  background: #fff;
  text-decoration: none;
}
.Tickets-sponsorLink {
  margin-bottom: 2em;
}
.Tickets-sponsorLink a {
  color: #fff;
}
@media screen and (min-width: 400px) {
  .Tickets {
    margin-top: -80px;
  }
}

/**
 * =============================================================================
 * Intro
 * =============================================================================
 */
.Intro {
  position: relative;
  z-index: 10;
  margin-top: -80px;
}
.Intro:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 80px;
  background: #352134;
}
.Intro-title {
  color: #f16c5b;
  font-size: 1.4em;
}
.Intro .Wrapper--narrow {
  position: relative;
  padding: 1rem;
  color: #ddd;
  background: #352134;
}
@media screen and (min-width: 400px) {
  .Intro .Wrapper--narrow {
    padding: 2em;
  }
}

/**
 * Pixel elements
 * -----------------------------------------------------------------------------
 */
@media screen and (min-width: 1000px) {
  .Intro .Wrapper--narrow:before, .Intro .Wrapper--narrow:after {
    content: '';
    position: absolute;
    top: -25px;
    background-size: cover;
  }
  .Intro .Wrapper--narrow:before {
    right: 100%;
    width: 149px;
    height: 105px;
    margin-right: -45px;
    background-image: url("/static/images/icons/left_pixels.png");
  }
  .Intro .Wrapper--narrow:after {
    left: 100%;
    width: 135px;
    height: 105px;
    margin-left: -31px;
    background-image: url("/static/images/icons/right_pixels.png");
  }
}
