/**
 * =============================================================================
 * Form actions
 * =============================================================================
 */

.Form {

    &-action {
        padding:0.25em;
        border:1px solid $color-alpha;
        font-size:2.5em; font-weight:700;
        color:#fff;
        background:$color-alpha;
        outline:0;
        transition:background 0.07s ease-in-out;

        &:hover {
            background:$color-gamma;
        }
    }
}
